@page "/kg-kid"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-info">Kindergarten Kids</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="kg-kid/create" class="btn btn-info form-control">Add New Kid</NavLink>
    </div>
</div>

@code {

}
