@page "/kg-kid/create"
@page "/kg-kid/edit/{Id:int}"
@using Models
@using Business.Repository.IRepository
@using Kindergarten_Server.Service.IService
@inject IKidRepository KidRepository
@inject IKidImageRepository KidImageRepository
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IFileUpload FileUpload
@attribute [Authorize(Roles = Common.SD.Role_Admin)]


<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Title Kid</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="@KidModel" OnValidSubmit="HandleKidUpsert">
                    <DataAnnotationsValidator />
                    @*<ValidationSummary />*@
                    <div class="form-group">
                        <label>FirstName</label>
                        <InputText @bind-Value="KidModel.FirstName" class="form-control"></InputText>
                        <ValidationMessage For="() => KidModel.FirstName" />
                    </div>
                    <div class="form-group">
                        <label>LastName</label>
                        <InputText @bind-Value="KidModel.LastName" class="form-control"></InputText>
                        <ValidationMessage For="() => KidModel.LastName" />
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <InputTextArea @bind-Value="KidModel.Details" class="form-control"></InputTextArea>
                    </div>

                    <div class="form-group" style="padding-top:70px;">
                        <InputFile OnChange="HandleImageUpload" multiple></InputFile>
                        <div class="row">
                            @if (IsImageUploadProcessStarted)
                            {
                                <div class="col-md-12">
                                    <span><i class="fa fa-spin fa-spinner"></i> Please wait.. Images are uploading...</span>
                                </div>
                            }

                            @if (KidModel.ImageUrls != null && KidModel.ImageUrls.Count > 0)
                            {
                                int serial = 1;
                                foreach (var kidImage in KidModel.ImageUrls)
                                {
                                    <div class="col-md-2 mt-3">
                                        <div class="kid-image" style="background: url('@kidImage') 50% 50%; ">
                                            <span class="kid-image-title">@serial</span>
                                        </div>

                                        <button type="button" @onclick="()=>DeletePhoto(kidImage)" class="btn btn-outline-danger btn-block mt-4">
                                            Delete
                                        </button>
                                    </div>
                                    serial++;
                                }
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">@Title Kid </button>
                        <NavLink href="kg-kid" class="btn btn-secondary">Back to Index</NavLink>
                    </div>

                </EditForm>



            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public int? Id { get; set; }

    private KidDTO KidModel { get; set; } = new KidDTO();
    private string Title { get; set; } = "Create";

    private KidImageDTO KidImage { get; set; } = new KidImageDTO();
    private List<string> DeletedImageNames { get; set; } = new List<string>();
    //public BlazoredTextEditor QuillHtml { get; set; } = new BlazoredTextEditor();
    private bool IsImageUploadProcessStarted { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            // updating
            Title = "Update";
            KidModel = await KidRepository.GetKid(Id.Value);
            if (KidModel?.KidImages != null)
            {
                KidModel.ImageUrls = KidModel.KidImages.Select(u => u.KidImageUrl).ToList();
            }
        }
        else
        {
            // create
            KidModel = new KidDTO();
        }
    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;
        bool loading = true;
        while (loading)
        {
            try
            {
                if (!string.IsNullOrEmpty(KidModel.Details))
                {
                    //await this.QuillHtml.LoadHTMLContent(KidModel.Details);
                }
                loading = false;
            }
            catch
            {
                await Task.Delay(10);
                loading = true;
            }
        }

    }



    private async Task HandleKidUpsert()
    {
        try
        {
            var kidDetailsByName = await KidRepository.IsKidUnique(KidModel.FullName, KidModel.Id);
            if (kidDetailsByName != null)
            {
                // the kid allready exist > show error
                await JsRuntime.ToastrError("This Kid name already exists.");
                return;
            }

            if (KidModel.Id != 0 && Title == "Update")
            {
                // update
                var updateKidResult = await KidRepository.UpdateKid(KidModel.Id, KidModel);


                if ((KidModel.ImageUrls != null && KidModel.ImageUrls.Any()) || (DeletedImageNames != null && DeletedImageNames.Any()))
                {
                    if (DeletedImageNames != null && DeletedImageNames.Any())
                    {
                        foreach (var deletedImageName in DeletedImageNames)
                        {
                            var imageName = deletedImageName.Replace($"{NavigationManager.BaseUri}KidImages/", "");

                            var result = FileUpload.DeleteFile(imageName);
                            await KidImageRepository.DeleteKidImageByImageUrl(deletedImageName);
                        }
                    }



                    await AddKidImage(updateKidResult);
                }
                await JsRuntime.ToastrSuccess("Kid ddata updated successfully.");



            }
            else
            {
                // create
                //KidModel.Details = await QuillHtml.GetHTML();
                var createdResult = await KidRepository.CreateKid(KidModel);
                await AddKidImage(createdResult);
                await JsRuntime.ToastrSuccess("Kid record created successfully");
            }
        }
        catch (Exception ex)
        {
            // log exceptions
        }




        NavigationManager.NavigateTo("kg-kid");
    }


    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        IsImageUploadProcessStarted = true;
        try
        {
            var images = new List<string>();
            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);
                    if (fileInfo.Extension.ToLower() == ".jpg" ||
                        fileInfo.Extension.ToLower() == ".png" ||
                        fileInfo.Extension.ToLower() == ".jpeg")
                    {
                        var uploadedImagePath = await FileUpload.UploadFile(file);
                        images.Add(uploadedImagePath);
                    }
                    else
                    {
                        await JsRuntime.ToastrError("Please select .jpg/.jpeg/.png file only");
                        return;
                    }
                }

                if (images.Any())
                {
                    if (KidModel.ImageUrls != null && KidModel.ImageUrls.Any())
                    {
                        KidModel.ImageUrls.AddRange(images);
                    }
                    else
                    {
                        KidModel.ImageUrls = new List<string>();
                        KidModel.ImageUrls.AddRange(images);
                    }
                }
                else
                {
                    await JsRuntime.ToastrError("Image uploading failed");
                    return;
                }
            }
            IsImageUploadProcessStarted = false;
        }
        catch (Exception ex)
        {
            await JsRuntime.ToastrError(ex.Message);
        }

    }


    private async Task AddKidImage(KidDTO kidDetails)
    {
        foreach (var imageUrl in KidModel.ImageUrls)
        {
            if (KidModel.KidImages == null || KidModel.KidImages.Where(x => x.KidImageUrl == imageUrl).Count() == 0)
            {

                KidImage = new KidImageDTO()
                {
                    KidId = kidDetails.Id,
                    KidImageUrl = imageUrl
                };
                await KidImageRepository.CreateKidImage(KidImage);
            }
        }
    }

    internal async Task DeletePhoto(string imageUrl)
    {
        try
        {
            var imageIndex = KidModel.ImageUrls.FindIndex(x => x == imageUrl);
            var imageName = imageUrl.Replace($"{NavigationManager.BaseUri}KidImages/", "");
            if (KidModel.Id == 0 && Title == "Create")
            {
                var result = FileUpload.DeleteFile(imageName);
            }
            else
            {
                //update
                DeletedImageNames ??= new List<string>();
                DeletedImageNames.Add(imageUrl);
            }
            KidModel.ImageUrls.RemoveAt(imageIndex);
        }
        catch (Exception ex)
        {
            await JsRuntime.ToastrError(ex.Message);
        }

    }


}
