@*<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <a class="navbar-brand mx-4" href="#">KINDERGARTEN Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>*@


<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Kindergarten Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse pr-2" id="navbarSupportedContent">
            <ul class="my-0 navbar-nav mr-auto">
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="kindergarten/kids">
                        <span class="p-5">
                            Kids
                        </span>
                    </NavLink>
                </li>

                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="radzen-list">
                        <span class="p-0">
                            Radzen_Test
                        </span>
                    </NavLink>
                </li>
            </ul>


            <ul class="my-0 navbar-nav ms-auto">
                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="registration">
                        <span class="p-2">
                            Register
                        </span>
                    </NavLink>
                </li>

                <li class="nav-item p-0">
                    <NavLink class="nav-link" href="login">
                        <span class="p-2">
                            Login
                        </span>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>