@page "/"
@using Models
@using Kindergarten_Client.Service.IService
@inject IKgFacilityService kgFacilityService
@*@inject ILocalStorageService localStorage*@
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<div>
    <KidsCarousel />
</div>

@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/loading.gif" width="10" />
    </div>}
@*else
{
    <AuthorizeView>
        <Authorized>
            <p>You are authorized as: @context.User.Identity.Name</p>
        </Authorized>

        <NotAuthorized>
            <p>You are NOT signed in!</p>
        </NotAuthorized>
    </AuthorizeView>
}*@




<div class="container-fluid pt-4 text-white" style="background-color:darkblue">

    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="text-warning">Our Kindergarten Facilities</h2>
            <p class="lead">Kindergarten with a lot of facilityes, a heaven for kids.</p>
        </div>
    </div>
    <div class="row">
        @foreach (var facility in KgFacilities)
        {
            <div class="col-md-4 col-6 p-4">
                <div style="border:1px solid #d5d5d5; border-radius:20px;">
                    <div class="text-center  justify-content-center p-4">
                        <i class="@facility.IconStyle fa-4x"></i>
                    </div>
                    <div class="text-center justify-content-center">
                        <h5 class="text-warning">@facility.Name</h5>
                        <p>@facility.Description</p>
                    </div>

                </div>
            </div>}
    </div>

</div>



@code {
    public IEnumerable<KgFacilityDTO> KgFacilities { get; set; } = new List<KgFacilityDTO>();
    public bool IsProcessing { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;
        KgFacilities = await kgFacilityService.GetKgFacilities();
        IsProcessing = false;
    }

}